.culinary-delight {
    margin-top: 10rem;


    .global-headline {
        text-align: center;
        margin-top: 2rem;

        .sub-headeline {
            font-size: 5rem;
            font-family: $secondary-font;
            color: $secondary-font-color;
            font-weight: 300;
            line-height: 0.42;
            letter-spacing: 2px;
            animation: fadeUp .5s forwards;
            animation-delay: .5s;

            .first-letter {
                font-size: 10.2rem;
                text-transform: uppercase;
            }

            @keyframes fadeUp {
                0% {
                    transform: translateY(4rem);
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .headline {
            color: #fff;
            font-size: 3rem;
            font-family: $main-font;
            line-height: 40px; //Optinal
            letter-spacing: 0.5rem !important;
            text-transform: uppercase;
            font-weight: 900;
            animation: scale .5s forwards;

            @keyframes scale {
                0% {
                    transform: scale(2);
                }

                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .headline {
            color: $main-font-color-dark;
            letter-spacing: 3px;
            margin-right: -0.7rem;

        }

        .astrick {
            color: $secondary-font-color;
            margin: 2.4rem 0;
            animation: spin 0.5s forwards;
            animation-delay: 0.5s;
            opacity: 0;

            @keyframes spin {
                0% {
                    transform: rotate(0);
                }

                100% {
                    opacity: 1;
                    transform: rotate(360deg);
                }
            }
        }
    }

    .restro-info {
        text-align: center;

        @media #{$breakpoint-md} {
            display: flex;
            align-items: center;

            div {
                flex: 1;
            }

            .padding-right {
                padding-right: 7rem;
            }
        }

        @media #{$breakpoint-lg && $breakpoint-xl} {
            display: flex;
            align-items: center;
            padding: 7.2rem;

            div {
                flex: 1;
            }

            .padding-right {
                padding-right: 7rem;
            }
        }


        .image-group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.4rem;
        }

        .restro-desc {
            margin-bottom: 3rem;

            p {
                line-height: 1.6;
                text-align: justify;
                margin-bottom: 2.4rem;
            }

            .btn {
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-right: -2px;
            }

            .body-btn {
                color: $secondary-font-color;
                font-size: 1.2 rem;
                position: relative;
                font-weight: 700;
                transition: color 0.5s;

                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    bottom: -3px;
                    background-color: $secondary-font-color;
                    transition: background-color 0.5s;
                }

                &:hover,
                &:focus {
                    color: $main-font-color-dark;

                    &:before {
                        background-color: $main-font-color-dark;
                    }
                }
            }
        }
    }
}